div {
    display: flex;
    justify-content: space-between;
    background-color: hsla(136, 71%, 32%, 0.35);
    height: 50vh;
}

div div {
    width: 45%;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-top: auto;
}

h3 {
    text-align: center;
}

button {
    font-size: x-large;
}

.labels{
    font-size: 7vmax;
    transition: transform 0.3s;
}

.field-footer {
    height: 10vh;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}

.play-again {
    display: block;
    margin: 0 auto;
}

.zoom-by-click {
    transform: scale(1.2);
}